# PVM Player settings -- edited automatically, but plain text if you
# want to tweak it by hand while the app isn't running.
font_size=38
font_file=EuropeanTeletext.ttf
menu_position=0
selection_style=0
menu_scale_x=0.8
menu_scale_y=1
text_scale_x=0.8
text_scale_y=1.2
start_directory=/Users/schulz/Movies
last_used_directory=
show_hidden_files=false
brightness=0
contrast=1
saturation=1
crt_enabled=true
crt_effect_strength=1.5
bloom_strength=0.6
scanline_count=380
vignette_strength=0.1
color_tear=4
